/* build 17015 */
a { color: #666666; font-weight: bold; }

a:hover { color: #000000; text-decoration: none; }

body {
	padding: 2px;
	margin: 0;
	color: #666666;
	background-color: #e9e9e9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* Annoying IE fix */
	font-size: 95%!important;
	font-size: 90%;
	
}

h2 {
	margin: 0 0 5px 0;
	border-width: 0 0 1px 0;
	border-color: #6699cc;
	border-style: solid;
	padding-bottom: 3px;
	color: #6699cc;
	font-size: 1.5em;
	text-align: left;
}

hr {
	border-style: none;
	color: #6699cc;
	background-color: #6699cc;
	height: 1px;
}

img { border-style: none; }

p, td {
	padding: 2px;
	margin: 0;
	color: #666666;
	background-color: #e9e9e9;
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

pre, code { font: 120% monospace;*font-size: 115%; }

small { font-size: 90%; }

table { border-color: #de7813; border-width: 0px; border-style: solid; }

tbody.off { display: none; }

tbody.on { display: table-row-group; }

td { padding: 2px 2px 2px 5px; }

.content {
	margin: 5px 0 0 17em;
	padding: 5px;
	border: dotted 1px;
	border-color: #e6e6e6;
	display: block;
	background-color: #ffffff;
	font-size: .8em;
	min-width: 700px;
	
	
}

.content a { color: #666666; text-decoration: none; }

.content a:hover { color: #000000; text-decoration: none; }

.contentFoot {
	margin: 5px 0 0 17em;
	padding: 5px;
	border: dotted 1px;
	border-color: #e6e6e6;
	background-color: #ffffff;
	font-size: .8em;
	text-align: right;
}

.contentFoot a:hover { color: #000000; text-decoration: none; }

.contentFoot a { color: #6699cc; text-decoration: none; }

.contentHead {
	padding: 2px;
	border: solid 1px #666666;
	margin-bottom: 1px;
	margin-right: 0px;
	border-color: #dcdcdc #a9a9a9 #a9a9a9 #dcdcdc;
	border-width: 2px 2px 2px 2px;
	color: #e1e1e1;
	background-color: #666666;
	font-weight: bold;
	font-weight: bold;
	text-align: center;
}
.contentHead:hover { background-color: #bdbdbd; color: #000000; font-weight: bold; text-decoration: none; cursor: pointer; }


.internalName { font-size: 90%; }

.kudos {
	border-color: #c0c0c0;
	border-width: 1px;
	border-style: solid;
	background-color: #ffffff;
	text-align: center;
}

.log { color: #000000; font-size: 90%; }
.log#toplinks a { 
         border-style: solid;	
         background-color: buttonface;
         border-color: #666666; 
	     border-width: 1px;
}

.topIconBG { display: inline-block; background-color: #ffffff; height:35px; }
.topIcon { 
    height:35px;
    width:35px; 
    margin-left: 2px;
    margin-right: 2px;
    -webkit-transition: -webkit-transform 0.7s; /* Safari */
    -webkit-transition-timing-function: ease-out;
    -moz-transition: -webkit-transform 0.7s; /* Safari */
    -moz-transition-timing-function: ease-out;
    -o-transition: -webkit-transform 0.7s; /* Safari */
    -o-transition-timing-function: ease-out;
    -ms-transition: -webkit-transform 0.7s; /* Safari */
    -ms-transition-timing-function: ease-out;
    transition: transform 0.7s;
    transition-timing-function: ease-out;
}

.topIcon:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

/* general help icon */
.genHelpIcon { height:35px; width:35px; }


/* the left navigation menu */
.navMenu {
	clear: right;
	float: left;
	padding: 9px 5px 5px 3px;
	width: 16em;
	border: dotted #e6e6e6 1px;
	margin: 5px 0 0 0;
	display: block;
	background-color: #ffffff;
	font-family: arial, serif;
	font-size: .8em;
	overflow: hidden;
}

.navMenu:hover { width: 40em; }

.navMenu a { color: #003366; font-weight: normal; text-decoration: none; }

.navMenu a:hover { color: #000000; font-weight: bold; text-decoration: none; }

.menuLevel1 { color: #003366; margin-left: 10px; white-space: nowrap; }
.menuLevel1:hover { background-color: #bdbdbd; color: #000000; font-weight: bold; text-decoration: none; cursor: pointer; }

.menuLevel2 { color: #003366; margin-left: 15px; white-space: nowrap; }
.menuLevel2:hover { background-color: #bdbdbd; color: #000000; font-weight: bold; text-decoration: none; cursor: pointer; }

.menuLevel3 { color: #003366; margin-left: 35px; white-space: nowrap; }
.menuLevel3:hover { background-color: #bdbdbd; color: #000000; font-weight: bold; text-decoration: none; cursor: pointer; }

.menuLevelinfo { color: #003366; margin-left: 15px; white-space: nowrap; }
.menuLevelinfo div:hover { background-color: #bdbdbd; color: #000000; font-weight: bold; text-decoration: none; cursor: help; }
.menuLevelinfo a:hover { background-color: #bdbdbd; color: #000000; font-weight: bold; text-decoration: none; cursor: help; }

.navMenuLeftTop {
	clear: right;
	float: left;
	padding: 3px 5px 5px 3px;
	width: 16em;
	border: dotted #e6e6e6 1px;
	margin: 2px 0 0 0;
	display: block;
	background-color: #e9e9e9;
	font-family: arial, serif;
	font-size: .8em;
	overflow: hidden;
}

.navMenuLeftTop a { color: #003366; font-weight: normal; text-decoration: none; }

.navMenuLeftTop a:hover { color: #000000; font-weight: bold; text-decoration: none; }

.leftTopIconBG { display: inline-block; background-color: #ffffff; height:25px; }
.leftTopIcon { 
    height:25px;
    width:25px; 
    -webkit-transition: -webkit-transform 0.7s; /* Safari */
    -webkit-transition-timing-function: ease-out;
    -moz-transition: -webkit-transform 0.7s; /* Safari */
    -moz-transition-timing-function: ease-out;
    -o-transition: -webkit-transform 0.7s; /* Safari */
    -o-transition-timing-function: ease-out;
    -ms-transition: -webkit-transform 0.7s; /* Safari */
    -ms-transition-timing-function: ease-out;
    transition: transform 0.7s;
    transition-timing-function: ease-out;
}

.leftTopIcon:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

/* context help icon */
.helpIcon { 
    height:20px;
    width:20px;
    -webkit-transition: -webkit-transform 0.7s; /* Safari */
    -webkit-transition-timing-function: ease-out;
    -moz-transition: -webkit-transform 0.7s; /* Safari */
    -moz-transition-timing-function: ease-out;
    -o-transition: -webkit-transform 0.7s; /* Safari */
    -o-transition-timing-function: ease-out;
    -ms-transition: -webkit-transform 0.7s; /* Safari */
    -ms-transition-timing-function: ease-out;
    transition: transform 0.7s;
    transition-timing-function: ease-out;
}

.helpIcon:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

/* the alphabetical index*/
#smenu {
    background-color:#ffffff;
    text-align:left;
    font-size: 90%;
    border:1px solid #000099;
    z-Index:200;
    visibility:hidden;
    position:absolute;
    top:100px;
    left:-'.$IndexPos.'px;
    width:450px;
    height:700px;
 }
#sleftTop {
    width:420px;
    height:10%;
    float:left;
    font-size: 90%;
    color:#999999;
    font-family:arial, helvetica, sans-serif;
    overflow: hidden;
}
#sleftTop a:hover{
    text-decoration:underline;
    color:#000000;
    font-family:arial, helvetica, sans-serif;
    font-size: 130%;
}
#sleft {
    width:420px;
    height:89%;
    float:left;
    font-size: 90%;
    color:#999999;
    font-family:arial, helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
#sleft a:hover{
    text-decoration:none;
    color:#000000;
    font-family:arial, helvetica, sans-serif;
    font-size: 110%;
}
#sleft div:hover{
    text-decoration:none;
    color:#000000;
    font-family:arial, helvetica, sans-serif;
    font-size: 110%;
    cursor: pointer;
}
#sright {
    width:10px;
    height:99%;
    float:right;
    font-size: 90%;
    color:#999999;
    font-family:arial, helvetica, sans-serif;
    overflow: hidden;
}
#sright a:link{
    text-decoration:none;
    color:#003366;
    font-family:arial, helvetica, sans-serif;
}
#sright a:visited{
    text-decoration:none;
    color:#003366;
    font-family:arial, helvetica, sans-serif;
}
#sright a:active{
    text-decoration:none;
    color:#003366;
    font-family:arial, helvetica, sans-serif;
}
#sright a:hover{
    text-decoration:underline;
    color:#999999;
    font-family:arial, helvetica, sans-serif;
}

/*CSS for pop up hint box */
#hintbox {
	position:absolute;
	top: 0;
	background-color: lightyellow;
	width: 150px;
	padding: 3px;
	border:1px solid black;
	font:normal 11px Verdana;
	line-height:18px;
	z-index:300;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	visibility: hidden;

	table { table-layout:fixed; word-wrap:break-word; }
}

/*CSS for please wait.... */
#wait {
	position: absolute;
	width: 350;
	heigth: 100;
	margin-left: 300;
	margin-top: 150;
	background-color: #FFF000;
	text-align: center;
	border: solid 1px #FFFFFF;
}

.negative { color: #ff0000; }
.positive { color: #008000; }

/*.noBorder { border-width: 0px; border-style: none; }*/

.cfgnotes a { color: #666666; font-weight: bold; }

.loglink a { color: #666666; font-weight: bold; }

.loglink a:hover { font-weight: bold; text-decoration: none; }

.note {
	border: solid 1px #66cc66;
	padding: 5px;
	margin: 3px;
	background-color: #ffffff;
	color: #333333;
	font-weight: bold;
	font-family: arial, serif;
	text-align: justify;
}

.option {
	padding: 3px;
	margin: 0 6px 0 0;
	border-width: 0px;
	border-style: none;
	background-color: #eeeff1;
}

.optionTitle {
	padding: 0 0 5px 5px;
	border-width: 0px;
	border-style: none;
	white-space: nowrap;
	background-color: #eeeff1;
	color: #003366;
	font-weight: bold;
	vertical-align: bottom;
}

.optionTitleBasic {
	padding: 0 0 5px 5px;
	border-width: 0px;
	border-style: none;
	white-space: nowrap;
	background-color: #eeeff1;
	color: #009933;
	font-weight: bold;
}

.optionValue {
	padding: 0 3px 0 5px;
	border-width: 0px;
	border-style: none;
	background-color: #eeeff1;
	font-size: 95%;
	text-align: left;
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}
*/ .optionValue input[type="text"]:hover { zoom: 1.5 } */
.optionValue input[type="text"]:focus { zoom: 1.5 }

.optionValueC {
	padding: 0 3px 0 5px;
	border-width: 0px;
	border-style: none;
	background-color: #eeeff1;
	font-size: 95%;
	text-align: center;
}


.rightButton {
	padding: 5px;
	border-style: none;
	border-width: 0px;
	margin: 3px;
	text-align: right;
}

.sectionHeader {
	padding: 2px;
	border: solid 1px #666666;
	margin-bottom: 1px;
	margin-right: 4px;
	border-color: #dcdcdc #a9a9a9 #a9a9a9 #dcdcdc;
	border-width: 2px 2px 2px 2px;
	padding-left: 5px;
	color: #e1e1e1;
	background-color: #666666; 
	font-weight: bold;
	font-weight: bold;
}
.sectionHeader:hover { background-color: #bdbdbd; color: #000000; font-weight: bold; text-decoration: none; cursor: pointer; }


.shadow {
	background: url(get?file=images/dropShadow.gif) right bottom no-repeat;
	margin-bottom: 2px;
	background-color: #eeeff1;
}

.smaller { font-size: 50%; font-weight: normal; }

.statBox {
	border-color: #808080;
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	width: 99%;
	background-color: #ffffff;
	text-align: left;
}

.sectionHeader:hover { background-color: #bdbdbd; color: #000000; font-weight: bold; text-decoration: none; cursor: pointer; }

.statsOptionTitle {
	padding-right: 10px;
	white-space: nowrap;
	color: #333333;
	font-weight: normal;
	font-size: 95%;
}

.statsOptionTotalTitle {
	white-space: nowrap;
	color: #333333;
	background-color: #eeeff1;
	font-weight: normal;
	font-size: 95%;
}

.statsOptionTotalValue {
	padding: 0 3px 0 5px;
	border-width: 0px;
	border-style: none;
	white-space: nowrap;
	background-color: #e9e9e9;
	font-size: .8em;
	text-align: justify;
}

.statsOptionValue {
	padding: 0 3px 0 5px;
	border-width: 0px;
	border-style: none;
	white-space: nowrap;
	background-color: #eeeff1;
	font-size: 95%;
	text-align: justify;
}

.statsOptionValueC {
	padding: 0 3px 0 5px;
	border-width: 0px;
	border-style: none;
	white-space: nowrap;
	background-color: #eeeff1;
	font-size: 95%;
	text-align: center;
}

.textBox {
	padding: 5px;
	border: #bfbfbf 1px solid;
	background-color: #e9e9e9;
	
}

.underline { border: dotted #cccccc; border-width: 0 0 1px 0; }

.warning {
	border: solid 1px #ff0000;
	margin-top: 3px;
	padding: 5px;
	color: #800000;
	font-weight: bold;
}

    table#conTable {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        border: 1px #6699cc solid;
        margin-top: 0px;
        padding: 0px;
        color: #404040;
        background-color: #fafafa;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12px;
        border-collapse: collapse;
        border-spacing: 0px;
        overflow: hidden;
    }

    table#conTable td {
        border-bottom: 1px dotted #6699cc;
        padding-left: 3px;
        color: #404040;
        background-color: #ffffff;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }

    table#conTable td.conTabletitle {
        border-bottom: 1px solid #6699cc;
        background-color: #bec8d1;
        color: #404040;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
     table#conTable tr.even td {
    background-color: #f5f5f5; color: black;white-space: nowrap;
    }
    
/* analyzer */
a#plusu img { margin-left: 2em;}
div#unicode img { margin-left: 2em;}
a#plusb img { margin-left: 2em;}
div#bayes img { margin-left: 2em;}
a#plush img { margin-left: 2em;}
div#hmm img { margin-left: 2em;}

